body {
    margin: 0px;
    padding: 0;
    background-color: cadetblue;
}

nav {
    --Logo-offset: 5px;
    --nav-height: 70px;
    --Logo-width: 300px;

    height: var(--nav-height);
    border-bottom-right-radius: 30px;
    overflow: hidden;
    background-color: #5C2684;
    position: relative;
}

nav > div.Logo {
    image-resolution: 100%;

    height: 100%;
    display: grid;
    place-items: center;
    width: var(--Logo-width);
    background-color: rgb(255, 255, 255);
    background-color: white;
    border-top-right-radius: 50px;
}

nav::after {
    content: "";
    position: absolute;
    height: 40%;
    width: calc(100% - var(--Logo-width) + var(--Logo-offset));
    left: calc(var(--Logo-width) - var(--Logo-offset));
    bottom: 0;
    background-color: rgb(255, 255, 255);
}